@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #276a22;
    --color-secondary: #dccd6b;
    --color-heading: #f5f5f7;
    --color-text: rgba(0, 0, 0, 0.6);
    --color-background: #000000;

    font-size: 62.5%;
  }
}


@layer utilities {
  /* This two helpers apply a -50% to the translate x/y, and add
   * a --y/--x css variable to it. This util is only here to make writing this class
   * a bit easier to read in the HTML :)   */
  .translate-y-centered-offset {
    @apply translate-y-[calc(-50%_+_var(--y))];
  }
  .translate-x-centered-offset {
    @apply translate-x-[calc(-50%_+_var(--x))];
  }
}

.mask1 {
  -webkit-mask-image: url(../../public/mask8.png);
  mask-image: url(../../public/mask8.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
}

.nunito{
  font-family: var(--font-nunito);
} 

.AnekDevanagari {
  font-family: var(--font-anek-devanagari);
}

.ptSans {
  font-family: var(--font-pt-sans);
}